[submodule "Agentic-Workflows"]
	path = Agentic-Workflows
	url = https://github.com/krillavilla/Agentic-Workflows.git
[submodule "cd14525-agentic-workflows-classroom"]
	path = cd14525-agentic-workflows-classroom
	url = https://github.com/krillavilla/cd14525-agentic-workflows-classroom.git
[submodule "AgentsVille-Trip-Planner"]
	path = AgentsVille-Trip-Planner
	url = https://github.com/krillavilla/AgentsVille-Trip-Planner.git
[submodule "udaplay-ai-agent"]
	path = udaplay-ai-agent
	url = https://github.com/krillavilla/udaplay-ai-agent.git
